<div class="row">
  <div class="col-md-10 nudge-right-10">
    <h3>What is Blocipedia?</h3>
    <p>It's a place to create and collaborate on wikis to share information with either the world, or just a select number of people.</p>

    <h3>What does it cost?</h3>
    <p>Our standard memberships are free! You can create and edit any publicly available wikis on the entire site! So what are you waiting for? <%= link_to "Sign up now!", new_user_registration_path %></p>

    <h3>What about privacy?</h3>
    <p>You want your wikis to be private and only available to select people? Not a problem! After you sign up you can upgrade to a Premium Account for a one-time payment of only $15. Then you'll have the ability to create private wikis, with the added benefit of choosing who you want to be able to view and edit them!</p>
  </div>
</div>