<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-9 border-lightgrey-right">

    <h1>Edit Wiki</h1>
    
    <%= render partial: "form", locals: { wiki: @wiki } %>
    
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 ">
    <br/>
    
    <% if @wiki.private? %>
      <%= render partial: "collaborators", locals: { users: @users, collaborator: @collaborator, collaborators: @collaborators, wiki: @wiki } %>
    <% else %>
      <h4>This wiki can be edited by everyone!</h4>
    <% if (@wiki.user == current_user) && (current_user.standard?) %>
        <h5>Make this wiki exclusive to only you and your collaborators by upgrading to a Premium Account!</h5>
        <%= link_to "Upgrade now!", new_charge_path, class: 'btn btn-primary' %>
      <% end %>
    <%end %>
    
    
  </div>
</div>